@import "tailwindcss";


:root {
  --background: #F6FBFF;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #F6FBFF;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.search-input {
  border-radius: 27px;
  background: #f4f4f4;
  box-shadow: 0px 3px 4px 0px rgba(94, 118, 154, 0.25) inset;
  padding: 8px ;
  width: 100%;
  color: gray;
}



.result-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:#e6f2fc ;
  border-radius: 16px;
  margin-bottom: 10px;
  padding: 8px;
  color: #7E8195;
  box-shadow: 0px 3px 4px 0px #e6f2fc  inset;
}

.search-button {
  background: linear-gradient(90deg, #052540 -7.61%, #FEAA99 168.38%);

  @apply cursor-pointer p-2  w-20 text-center rounded-3xl text-white text-sm font-semibold
}